@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

li {
  list-style: none;
}

/* HEADER && INPUT */
.header {
  background-color: #333;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}
.header h1 {
  margin-bottom: 10px;;
}
.header .button-todo {
  padding: 10px;
  width: 20%;
  color: #333;
  background: #f0f0f0;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.header input {
  margin:0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 70%;
  font-size: 16px;
  float: left;
  background: #f0f0f0;
}
/* LIST TO DO */

.list {
  text-align: center;
  padding: 30px;
}
.list ul li {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #333;
  margin-bottom: 5px;
}
.list ul li form {
  float: right;
}
.list ul li form button {
  padding: 0 10px;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 4px;
}
.list .error {
  font-size: 22px;
}
